__pycache__/
*.pyc
*.pyo
*.pyd
*.py[cod]
*.egg-info/
dist/
build/
.venv/
venv/
.env
.env.*
*.env
/etc/*.env
.DS_Store
Thumbs.db
*.sqlite3
*.log
.pytest_cache/
.coverage
.vscode/
.idea/
htmlcov/
artifacts/out/
data/
zip/
staticfiles/
media/